.sidenav {
    
    background: transparent;
    height: fit-content;
    position: fixed;
    top:0px;
    left: 0px;
    display: flex;
    align-items: center;
    .sideheader {
        height: 20vh;
        padding-top: 10px;
        .image_profile{
            height: 80px;
            font-family: 'Archivo', sans-serif;
font-family: 'Exo', sans-serif;
            img{
                height: 75px;
                border-radius:50%;  
                    
              }
            .text{
                font-size: 14px;
            }
        }
    }
   
    .nav_main {
        position: relative;
        margin-top: 10vh;
        background-color: rgb(36,25,33);
    }

    .footer {
        font-size: 10px;
        padding-top:10px;
        font-family: 'Archivo', sans-serif;
font-family: 'Exo', sans-serif;
    }
}

$highlight-color: #ff6363 !default;
$icon-size: 40px !default;
@import '~react-pro-sidebar/dist/scss/styles.scss';