.CR_div{
    .CR_div_studentZone{
        margin-top: 20px;
        font-size: 24px;
        font-family: 'Archivo', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
color:rgb(154, 2, 255);
        text-align: center;
        font-weight: 100 !important;
        border-bottom: 2px solid rgb(163, 58, 255);
        margin-left: auto ;
        margin-right: auto;
    }
    .CR_div_cards{
        display: flex;
        flex-wrap: wrap;
    }
}