.home_page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .first_div{
        z-index: 2;
        margin-top: 10px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .first_div_title{
            display: flex;
            font-size: 40px;
            font-family: 'Archivo', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
color:rgb(255, 140, 68)

        }
        .first_div_heading{
            font-size:28px;
            color:#6C63FF;
            font-family: 'Archivo', sans-serif;
font-family: 'Cedarville Cursive', cursive;

        }
        .first_div_text{
            font-size: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 450;
            text-align: center;
        }
        .first_div_follow{
            //background-color: #6C63FF;
            padding-top: 10px;
            width: 30%;
            font-size:18px;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;

        }
        .first_div_logo{
            font-size: 30px;
            z-index:5;
            &:hover{
                background-color: rgb(222, 222, 222);
                border-radius:50%;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
                transform: scale(1.1);
            }
        }

    }
    .second_div{
       // background-color: pink;
        //padding-top:20px;
        align-self: flex-end;
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .second_div_svg{
            height:fit-content;
            width: 50vw;
        }
         
    }
}
@media screen and (max-width:1000px) {
    .home_page{
        max-width: 60vw;
        flex-direction: column;
    }
    .second_div{
        max-width: 60vw;
        max-height: 50vh;
    }
    .second_div_svg{
    min-width: 50vw;
    min-height: 50vw;
    //background-color: black;
    
    }
    .first_div{
        z-index:2;
    }
    .first_div_title{
       flex-direction: column;
       font-size:30px !important;

    }
    .first_div_heading{
      font-size:2vw !important;

    }
    .first_div_follow{
        width: 100% !important;
        font-size: 1vw !important;
    }
    .first_div_text{
        font-size:3vw !important;
    }
    .first_div_logo{
        font-size: 4vw !important;
    }
}