.main-signin_div{
    display: flex;
    justify-content: space-around;
    //width: 300px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   &:hover{
      // background-color: black;
       cursor: pointer;
       background-color: aliceblue;
       box-sizing: 1.5;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   }
    button{
        text-decoration: none;
        border: none;
        background:transparent;
        &:hover{
            cursor: pointer;
            background-color: aliceblue;
            box-sizing: 1.5;
            box-shadow: 5px;
        }
    }
}
