.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-family: 'Archivo', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-weight: bolder;
position: relative;
}
.inside_page{
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}
.main-page{
  margin-bottom:auto ;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 18px;
  border-bottom: 1px solid orange;
  opacity: 0.8;
  color:orange;
  font-family: cursive;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.navbar_managed{
  z-index: 1000;
  position: fixed;
  color:white;
  text-align: center;
  left:0;
  top:20px;
  width: 50px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  background: rgba( 26, 26, 26, 0.85 );
  backdrop-filter: blur( 17.5px );
  -webkit-backdrop-filter: blur( 17.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.shortnav{
  z-index: 1000;
  position: fixed;
  right:10px;
  bottom: 20px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.comment_shortnav{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17.5px );
-webkit-backdrop-filter: blur( 17.5px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.love_shortnav{
  text-decoration: none;
  color:#ff3586;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba( 255, 255, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 17.5px );
-webkit-backdrop-filter: blur( 17.5px );

border: 1px solid rgba( 255, 255, 255, 0.18 );
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding-top: 100px;
  width: 100vw !important;
}

.blue {
  background: transparent;
}

.red {
  background: #dd3f31;
}

.pink {
  background: #ff0066;
  overflow: hidden;
}

.dark {
background-color: white;
}


.curve {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(0, 0%, 100%);
}

.curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #ffffff;
  transform: translate(-4%, 40%);
  z-index: -1;
}

/* Bubble bg with plain CSS */

.bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
 background-color: white;
   opacity: 0.2;
  height: 100%;
}

/* Curved bg with SVG via https://www.shapedivider.app/ */

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.wave2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  overflow: hidden;
  line-height: 0;
}
.wave svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 900px;
}
.wave2 svg{
position: relative;
display:block;
width: 100vw !important;
height: 300px;
}
.wave .shape-fill {
  fill: hsl(4, 100%, 77%);
  opacity: 0.4;
}

/* SVG background image via https://haikei.app/ */

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.layer1 {
  background-image: url('./assets/layer1.svg');
}
.layer2 {
  background-image: url('./assets/layer2.svg');
}

.flip {
  transform: rotate(180deg);
}

.blob-motion {
  position: absolute;
  transform: translateY(-20%);
  z-index: 0;
}

.blob-content {
  z-index: 1;
}

.blobs {
  width: 100%;
  background: url('./assets/blobs.svg') no-repeat bottom / cover;
  height: 400px;
}
.event_notice_div{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100vw;
}
.kidhar_div{
  margin-left: 5vw !important;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin:10vh 2.5vh 2vh 2.5vh;
  flex-wrap: wrap;
}
@media screen  and (max-width: 1008px) {
  
}